/* .container{
    width : 960px;
} */

@font-face {
    font-family: 'SLEIGothicTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'SLEIGothicTTF';
}

.d-none-custom{
    display : none;
}

.fc-day-sun{
	background-color : #fce9e8;
}

#myPop{
	z-index:1000;
	min-width : 407px;
}

.fc-event{
	cursor : pointer;
}

footer {
	height : 100px;
}

.carousel-wrap {
	opacity : 0.3;
}

#carousel-cont img{
	height: 850px;
}
#carousel-cont{
	width : 100%;
	
}



	.profile_url{
		width:50px;
		height:50px;
		border:1px solid #ccc;
	}
	
	 #dropdown{
     background-color : #e2e2e2;
    }
    
    .user_header{
    	background-color : #fff;
    }


.form-control-plaintext:focus{
	outline : none;
}

.replyProfile{
		width:30px;
		height:30px;
		border:1px solid #ccc;
	}

.search-profile{
	width:30px;
	height:30px;
	border:1px solid #ccc;
}

.bi-chat-right-heart{
	color : palevioletred;
}